<h3>Games</h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Winner</th>
        <th>Points</th>
        <th>Looser</th>
        <th>Points</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td>Kendall</td>
          <td>21</td>
          <td>Brady</td>
          <td>2</td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Game', new_game_path %>
